body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el contenido esté centrado verticalmente */
    margin: 0;
}


div#contenedorCard {
    display: block;
    background-color: hsl(0, 0%, 100%);
    width: auto;
    max-width: 18%;
    height: auto;
    margin: 10px;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 10px 10px 0 2px black;
    
}

div#contenedorImagen {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

}

img#imagenCard {
    border-radius: 5%;
    max-width: 100%;
}

button#botonSeccion {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-color: hsl(47, 88%, 63%);
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border: none;
    color: black;
    background-color: hsl(47, 88%, 63%);
    cursor: pointer;
}

div#contenedorTexto {
    display: block;
    text-align: left;
    width: 100%;
    height: auto;
    word-wrap: break-word;


}

p{
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: hsl(0, 0%, 42%);
}

h1 a{
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: hsl(0, 0%, 7%);
    text-decoration: none;
}

h1 a:hover {
    cursor: pointer;
    color: hsl(47, 88%, 63%);
    transition: all 0.7s;
}

/* Media Query para dispositivos móviles con un ancho máximo de 375px */
@media (max-width: 400px) {
    div#contenedorCard {
        max-width: 90%; /* Aumenta el ancho del contenedor para adaptarse mejor */
        padding: 10px; /* Reduce el padding para dar más espacio */
    }

    button#botonSeccion {
        width: 80px; /* Reduce el tamaño del botón */
        height: 25px; /* Ajusta la altura del botón */
    }

    p {
        font-size: 14px; /* Reduce el tamaño de la fuente */
    }

    h1 a {
        font-size: 18px; /* Ajusta el tamaño del enlace */
    }
}